  <div class="masthead">
    <h3 class="muted hidden-phone">ONEMA.IO</h3>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container visible-phone">
          <a data-target=".navbar-responsive-collapse" data-toggle="collapse" class="btn btn-navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">ONEMA.IO</a>  
          <div class="nav-collapse collapse navbar-responsive-collapse">  
            {% include nav-items.html %}
          </div>
        </div>
        <div class="container hidden-phone">
          <div class="nav">  
            {% include nav-items.html %}
          </div>
        </div>
      </div>
    </div><!-- /.navbar -->
  </div>
